.middle-box.text-center.loginscreen.animated.fadeInDown.p-t
  .ibox-title
    %h5 New Tag
  .ibox.float-e-margins
    .ibox-content
      = render 'form'

.middle-box.loginscreen.animated.fadeInDown
  .ibox-title
    %h5 Your Tags
  .ibox.float-e-margins
    .ibox-content
      %table.table.table-striped
        %tbody
          - @tags.each do |tag|
            %tr
              %td= tag.name
              %td
                %i= link_to '', edit_tag_path(tag), :class => "fa fa-pencil"

#small-chat
  %a.open-small-chat
    %i.fa.fa-line-chart
