.row
  .middle-box.text-center.loginscreen.animated.fadeInDown.p-t
    .ibox.float-e-margins
      .ibox-title
        %h5 Edit Expense
      .ibox-content
        = render 'form'

        = link_to 'Cancel', expenses_path, :class => "btn btn-white btn-block"

        = link_to 'Delete', @expense, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger btn-block"

        .clear-float
